<th:block th:fragment="paso1">

    <div class="section">
        <h2>PASO 1 · Identificación</h2>

        <div class="field-group">
            <label>Código del alumno</label>
            <input type="text"
                   th:field="*{paso1DTO.codigoAlumno}"
                   required>
        </div>

        <div class="field-group">
            <label>Detalle de los hechos</label>
            <textarea th:field="*{paso1DTO.detalleHechos}"
                      required></textarea>
        </div>
    </div>

</th:block>
