
<th:block th:fragment="paso11(alumno)">

    <td>
        <span th:if="${alumno.paso11DTO?.fecchacierre != null}" class="ok">✔</span>
        <span th:unless="${alumno.paso11DTO?.fecchacierre != null}" class="ko">✘</span>
    </td>

    <td>
        <span th:if="${alumno.paso11DTO?.fechaInspeccion != null}" class="ok">✔</span>
        <span th:unless="${alumno.paso11DTO?.fechaInspeccion != null}" class="ko">✘</span>
    </td>

    <td>
        <span th:if="${alumno.paso11DTO?.fecchafamilia != null}" class="ok">✔</span>
        <span th:unless="${alumno.paso11DTO?.fecchafamilia != null}" class="ko">✘</span>
    </td>

    <td>
        <span th:if="${alumno.paso11DTO?.fechaProfesorado != null}" class="ok">✔</span>
        <span th:unless="${alumno.paso11DTO?.fechaProfesorado != null}" class="ko">✘</span>
    </td>

</th:block>
